<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Mercado Liebre">
            </div>
            <form action="" method="GET">
                <div class="buscador">
                    <input type="text" placeholder="Buscar Productos, Marcas"> 
                    <button type="submit"><i class="fas fa-search"></i></button> 
                </div>
            </form>
            <h3 class="header-anuncio" ><i class="fas fa-hand-holding-usd"></i> Compra en cuotas</h3>
        </div>
        <nav>
            <div class="nav-top">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="nav-bottom">
                <ul>
                    <li><a href="/register"> Creá tu cuenta </a><i class="far fa-address-card"></i></li>
                    <li><a href="/login"> Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#"> Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>     
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img class="banner-foto" src="images/img-home-banner.jpg" alt="">
        <h3>Basado en tu última visita</h3>
        <section class="ultima-visita">
            <article>
                <img width="100%" src="images/img-cafetera-moulinex.jpg" alt="">
                <div class="articulo-contenido">
                    <i class="camion fas fa-truck"></i>
                    <div class="articulo-venta">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="description">Cafetera Moulinex</h4>                    
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-macbook-pro-2019.jpg" alt="">
                <div class="articulo-contenido">
                    <i class="camion fas fa-truck"></i>
                    <div class="articulo-venta">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="articulo-contenido">
                    <i class="camion fas fa-truck"></i>
                    <div class="articulo-venta">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-tv-samsung-smart.jpg" alt="">
                <div class=articulo-contenido>
                    <i class="camion fas fa-truck"></i>
                    <div class="articulo-venta">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <h3>Sección de Ofertas</h3>
        <section class="ofertas">
            <article>
                <img width="100%" src="images/img-cafetera-moulinex.jpg" alt="">
                <div class="articulo-contenido">
                    <i class="camion fas fa-truck"></i>
                    <div class="articulo-venta">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-macbook-pro-2019.jpg" alt="">
                <div class="articulo-contenido">
                    <i class="camion fas fa-truck"></i>
                    <div class="articulo-venta">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="articulo-contenido">
                    <i class="camion fas fa-truck"></i>
                    <div class="articulo-venta">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-tv-samsung-smart.jpg" alt="">
                <div class="articulo-contenido">
                    <i class="camion fas fa-truck"></i>
                    <div class="articulo-venta">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="secciones-footer">
                <i class="iconos-footer fas fa-credit-card"></i>
                <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="secciones-footer">
                <i class="iconos-footer fas fa-gift"></i>
                <h4><strong>Envío gratis desde $ 2.500</strong></h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="secciones-footer">
                <i class="iconos-footer fas fa-user-shield"></i>
                <h4><strong>Seguridad, de principio a fin</strong></h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
        </div>
    </footer>
    <section class="copyright">
        <h4><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h4>
    </section>
</body>
</html>