<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/nomalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="">
        <div class="buscador">
                <input type="text" placeholder="Buscar Productos, Marcas">
                <i class="fas fa-search"></i>
        </div>
        <div>
            <h3><i class="fas fa-hand-holding-usd"></i> Compra en cuotas</h3>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta </a><i class="far fa-address-card"></i></li>
                <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="banner" src="images/img-home-banner.jpg" alt="">
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img width="100%" src="images/img-cafetera-moulinex.jpg" alt="">
                <div class="contenido-articulo">
                    <i class="camion fas fa-truck"></i>
                    <p>$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>                    
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-macbook-pro-2019.jpg" alt="">
                <div class="contenido-articulo">
                    <i class="camion fas fa-truck"></i>
                    <p>$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="contenido-articulo">
                    <i class="camion fas fa-truck"></i>
                    <p>$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-tv-samsung-smart.jpg" alt="">
                <div class="contenido-articulo">
                    <i class="camion fas fa-truck"></i>
                    <p>$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section>
            <h3>Sección de Ofertas</h3>
            <article>
                <img width="100%" src="images/img-cafetera-moulinex.jpg" alt="">
                <div class="contenido-articulo">
                    <i class="camion fas fa-truck"></i>
                    <p>$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-macbook-pro-2019.jpg" alt="">
                <div class="contenido-articulo">
                    <i class="camion fas fa-truck"></i>
                    <p>$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="contenido-articulo">
                    <i class="camion fas fa-truck"></i>
                    <p>$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img width="100%" src="images/img-tv-samsung-smart.jpg" alt="">
                <div class="contenido-articulo">
                    <i class="camion fas fa-truck"></i>
                    <p>$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="secciones-footer">
            <i class="iconos-footer fas fa-credit-card"></i>
            <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="secciones-footer">
            <i class="iconos-footer fas fa-gift"></i>
            <h4><strong>Envío gratis desde $ 2.500</strong></h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="secciones-footer">
            <i class="iconos-footer fas fa-user-shield"></i>
            <h4><strong>Seguridad, de principio a fin</strong></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h4><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h4>
        </section>
    </footer>
</body>
</html>